/* Everett Rosser */

body {
	background-color: #FADF89;
}

img { 
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

header {
	text-align: center;
}

nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	text-align: center;
	margin-top: -1.5em;
}

nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

nav li {
	background-color: #9D9D93;
	border-radius: 2em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}

nav li a {
	color: #FFFFFF;
	text-decoration: none;
}

main {
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 2em 0 2em 0;
	text-align: center;

}

main a {
	border-radius: 1em;
	color: #0000EE;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: underline;
}

footer{
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
	color: #000000;
}

footer a {
	color: #000000;
	text-decoration: none;
}

#ch {
	font-weight: bold;
}

#main {
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 0em;
	color: #000000;
}

#main a {
	border-radius: 1em;
	color: #0000EE;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: underline;
}

#width {
	max-width: 400px;
}
#item-inline {
	display: inline-block;
	padding-left: 70px;
	margin: 10px;
	vertical-align: top;
}

#art {
	max-height: 30%;
	max-width: 30%;
}

#bold {
	font-weight: bold;
	font-size: 0.95em;
}